@import '../mixins.scss';
@import '../variables.scss';

.quiz-form {
  @include column-center;
  margin-bottom: 5%;
}

.quiz-form h1 {
  margin-bottom: .5%;
}

.quizIntro {
  margin: 0 .8em 0 .8em;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid $blue;
}

.quiz-submit-btn {
  @include button-primary(18px, 250px, 1.5%);
  margin: 5% 5% 1% 5%;
}

.invalid-message {
  color: $red;
  text-decoration: underline;
  margin: 0;
}