@import '../mixins.scss';
@import '../variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  background-color: $offwhite;
  box-shadow: 1px 3px 12px black;
  margin-bottom: 0.38%;
}

.letter-p {
  font-size: 3em;
  font-family: $logo-font;
  font-weight: 200;
  color: $text-color;
  margin-top: 0.5em;
  margin-left: 0.25em;
}

.letter-s {
  font-size: 3em;
  font-family: $logo-font;
  font-weight: 200;
  color: $text-color;
  margin-right: 0.35em;
  margin-top: 1.6em;
  margin-left: -0.35em;
}

.side-nav {
  display: flex;
  justify-content: flex-start;
  width: 75%;
}

.header-logo-anchor {
  display: flex;
  align-items: center;
  flex-direction: flex-start;
  height: 80px;
  margin: 2%;
  width: 100%;
  text-decoration: none;
  &:hover {
    transform: scale(1.02);
    transition-duration: 0.4s;
  }
}

.header-btn {
  @include button-primary(14px, 150px, .75%);
  height: 18px;
  margin: 1.75%;
  align-self: center;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 414px) {
  .header-btn {
    display: none;
  }
 
  .mobile {
    display: block
  }
}