@import '../mixins.scss';
@import '../variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  background-color: $blue;
  box-shadow: 1px 3px 12px black;
  margin-bottom: 2%;
}

.header-logo-anchor {
  height: 100px;
  margin: 2%;
}

.header-logo {
  height: 100px;
  align-self: center;
  &:hover {
    transform: scale(1.05);
    transition-duration: 0.4s;
	}
}

.header-btn {
  @include button-primary(medium, 175px, .75%);
  height: 20px;
  margin: 2%;
  align-self: center;
}

