@import '../mixins.scss';

.saved-view {
  background: url('./background.png') fixed;
  background-size: cover;
  background-repeat: repeat;
}

.saved-title {
  @include column-center;
  margin: 0;
  padding: 1em;
  font-size: 2em;
  font-weight: 400;
}

.saved-thumbnail-container {
  @include row-wrap-around;
}

