@import '../mixins.scss';

.saved-view {
  background: url('./background.png') no-repeat fixed center;
  background-size: cover;
  height: 100vh;
}

.saved-title {
  @include column-center;
  margin-top: 0;
  padding: 1em;
  font-size: 2.5em;
  font-weight: 400;
}

.saved-thumbnail-container {
  @include row-wrap-around;
}

