@import '../mixins.scss';
@import '../variables.scss';

.menu-item {
  font-size: 20px;
  color: $text-color;
  margin-bottom: 5px;
}

.burger-icon {
  margin-right: 15px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $text-color;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $red;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 35px;
  width: 35px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $text-color;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgba(44,189,209, 0.9);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}