@import '../mixins.scss';

.trip-name-field, .trip-title-field {
  @include column-center;
  @include quiz-question;
}

.text-input-question {
  @include multiple-choice-question;
}

.question-input-question {
  @include multiple-choice-question;
  font-size: 20px;
}

.trip-destination-field, .trip-number_of_days-field, .trip-duration-field, .trip-quantity-field {
  @include row-center;
  @include quiz-question;
  font-size: 20px;
}

.trip-name-field input, .trip-title-field input {
  @include input-line(300px);
  font-size: 14px;
}

.trip-destination-field input {
  @include input-line(300px);
  font-size: 14px;
}

.trip-number_of_days-field input, .trip-duration-field input, .trip-quantity-field input {
  @include input-line(60px);
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.number-input {
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
}

.unselected-answer-button {
  @include button-secondary;
  background-color: $offwhite !important; 
}

@media only screen and (max-width: 450px) {
  .trip-title-field input, .trip-destination-field input, .trip-name-field input{
    width: 80%;
  }
}