@import '../mixins.scss';

.trip-name-field {
  @include column-center;
  @include quiz-question;
}

.text-input-question {
  @include multiple-choice-question;
}

.question-input-question {
  @include multiple-choice-question;
}

.trip-destination-field, .trip-number_of_days-field {
  @include row-center;
  @include quiz-question;
}

.trip-name-field input {
  @include input-line(300px)
}

.trip-destination-field input {
  @include input-line(300px);
}

.trip-number_of_days-field input {
  @include input-line(60px);
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin: .8em;
}