@import '../mixins.scss';

.input-container {
  @include column-center;
  justify-content: center;
}

.static-item {
  @include row-center;
  border: solid black 1px;
  margin: 0.1em;
}

.item-box {
  width: 50%;
}

.quantity-container {
  @extend .input-container;
  margin-right: 2em;
  
}

.static-item-quantity {
  // width: 15px;
}