@import '../variables.scss';
@import '../mixins.scss';

.home {
  @include column-center;
  background-color: $offwhite;
  margin: 0 25%;
  padding: 2em;
  opacity: .8;
  border-radius: 1em;
}

.home p {
  font-size: 1.2em;
  width: 80%;
  text-align: center;
}

.start-button {
  @include button-primary(x-large, 250px, 1.5%);
  width: 250px;
}

img {
  margin: 5%;
  height: 350px;
}