@import '../variables.scss';
@import '../mixins.scss';

.home {
  @include column-center;
}

.pack-smart-title {
  font-size: 7em;
  margin: 0;
}


.start-button {
  @include button-primary(x-large, 250px, 1.5%);
  width: 250px;
}

img {
  margin: 3%;
}