@import '../mixins.scss';

.packing-list-main {
  @include column-center;
}

.packing-list-header {
  @include column-center;
}

.save-list-button {
  @include button-primary(medium, 175px, .75%);
}

.edit-title {
  margin-left: 0.5em;
  border: none;
  background-color: $gray;
  outline: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.25);
    transition-duration: 0.4s;
	}
}