@import '../mixins.scss';

.packing-list-main {
  @include column-center;
  background: url('./background.png') no-repeat fixed center;
  background-size: cover;
}

.packing-list-header {
  @include column-center;
  font-size: 18px;
}

.packing-list-details {
  margin-top: 15px;
  margin-bottom: 5px;
}

.save-list-button {
  @include button-primary(medium, 175px, .75%);
  margin: 3em;
}

.save-list-button-top {
  @include button-primary(medium, 175px, .75%);
  margin: 1.5em;
}

.edit-title {
  margin-left: 0.5em;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.25);
    transition-duration: 0.4s;
	}
}
