@import '../mixins.scss';

.checkbox-question {
  display: flex;
  margin: 0 2em 2em 0;
}

.checkbox-text {
  margin-left: 0.75em;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}

.modal-button {
  @include button-primary(18px, 250px, 1.5%);
}