@import '../mixins.scss';

.modal-title {
  margin: 1em 1em 1.5em 1em;
}

.checkbox-question {
  display: flex;
  margin: 2em 2em 0 0;
}

.checkbox-text {
  margin-left: 0.75em;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
}

.modal-button {
  @include button-primary(18px, 250px, 1.5%);
}