@import '../mixins.scss';

.modal-title {
  margin: 1em 1em 1.5em 1em;
  font-size: 22px;
}

.checkbox-question {
  display: flex;
  margin: 2em 2em 0 0;
  font-size: 14px;
}

.checkbox-text {
  margin-left: 0.75em;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
}

.modal-button {
  @include button-primary(15px, 200px, 1.5%);
}

@media only screen and (max-width: 600px) {
  .modal-buttons {
    @include column-center;
  }

  .modal-button {
    margin: 3%;
  }
  
  .modal-title {
    text-align: center;
  }
}
