@import '../mixins.scss';
@import '../variables.scss';

.how-it-works-container {
  background: url('./background.png') no-repeat fixed center;
  background-size: cover;
  text-align: center;
}

.how-it-works-title {
  @include column-center;
  padding-top: 1em;
  font-size: 2.3em;
  font-weight: 300;
  margin: 0em 2em .75em 2em;
}

.steps-container {
  display: flex;
  justify-content: center;
  margin: 4.5em 2em 2em 2em;
  flex-wrap: wrap;
}

.steps-1and2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.steps-3and4 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 225px;
  border: solid $text-color 0.2em;
  border-radius: 1em;
  padding: 1.75em;
  margin: 2em;
  box-shadow: 1px 3px 12px black;
  background-color: $offwhite;
  font-size: 0.75em;
}

.star-rating {
  display: flex;
}