@import '../variables.scss';
@import '../mixins.scss';

.selected-answer-btns {
  background-color: $blue !important;
}

.trip-gender-field {
  @include row-center;
  @include quiz-question;
}

.trip-gender-field button {
  @include button-quiz-answer;
  align-self: center;
}

.trip-weather-field, .trip-categories-field {
  @include column-center;
  @include quiz-question;
}

.trip-categories-field p, .trip-weather-field p {
  margin-top: 0;
}

.trip-categories-field h2, .trip-weather-field h2 {
  margin-bottom: 0;
}

.quiz-answer-btns {
  @include row-center;
  width: 20%;
  flex-wrap: wrap;
}

.quiz-answer-btns button {
  @include button-quiz-answer;
}
