@import '../variables.scss';
@import '../mixins.scss';

.selected-answer-btns {
  background-color: $blue !important;
}


.trip-gender-field {
  @include row-center;
  @include quiz-question;
  width: 100%;
  // flex-wrap: wrap;
}

.trip-gender-field button {
  @include button-quiz-answer;
  align-self: center;
  margin: 2%;
}

.trip-weather-field button, .trip-categories-field button {
  @include button-quiz-answer;
  align-self: center;
  margin: 2.5%;
  width: 120px;
}

.trip-weather-field, .trip-categories-field {
  @include column-center;
  @include quiz-question;

}

.trip-categories-field p, .trip-weather-field p {
  margin-top: 0;
}

.trip-categories-field h2, .trip-weather-field h2 {
  margin-bottom: 0;
}

.multiple-choice-question {
  @include multiple-choice-question;
  text-align: center;
}

.weather-answer-btns, .categories-answer-btns {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
}

.gender-answer-btns {
  display: flex;
  margin: 1% 3% 1% 3%;
  align-self: center;
}

.quiz-answer-btns button {
  @include button-quiz-answer;
}

// MEDIA QUERIES ----------------------------------------

@media only screen and (max-width: 1025px) {
  .weather-answer-btns, .categories-answer-btns {
    width: 50%;
  }
}

@media only screen and (max-width: 414px) {
  .weather-answer-btns, .categories-answer-btns {
    width: 75%;
  }

  .multiple-choice-question {
    margin: 3.79;
  }
}