@import './variables.scss';

@mixin row-wrap-around {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@mixin column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin button-all {
    outline: none;
    cursor: pointer;
    height: 35px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 5px 5px 5px black;
    &:hover {
		transform: scale(1.05);
		transition-duration: 0.4s;
	}
}

@mixin button-primary {
    @include button-all;
    background-color: $red;
    color: $white;
}

@mixin button-secondary {
    @include button-all;
}

@mixin button-anchor {
    height: 35px;
    margin: 5%;
    width: 200px;
}

