@import './variables.scss';

@mixin row-wrap-around {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@mixin row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin button-all {
  outline: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px $text-color;
  border-radius: 1.5em;
  border: none;
  &:hover {
    transform: scale(1.05);
    transition-duration: 0.4s;
	}
}

@mixin button-primary($font-size, $width, $padding) {
  @include button-all;
  background-color: $red;
  color: $offwhite;
  font-size: $font-size;
  padding: $padding;
  text-decoration: none;
  text-align: center;
  width: $width;
}

@mixin button-secondary {
  @include button-all;
}

@mixin button-quiz-answer {
  @include button-all;
  background-color: $offwhite;
  border: 1px solid $text-color;
  width: 100px;
  margin: .75%;
  height: 35px;
}

@mixin input-all {
  outline: none;
  padding: 1%;
  font-size: 16px;
}

@mixin input-line($width) {
  @include input-all;
  border-left: none;
  border-right: none;
  border-top: none;
  width: $width;
  height: 15px;
  align-self: center;
  background-color: $gray;
  margin: 0 1%;
}

@mixin quiz-question {
  width: 100%;
  margin: 1%;
}

