$white: #fff;
$offwhite: #f5f6f8;
$red: #eb6c5a;
$blue: #2cbdd1;
$text-color: #2d3045;
$gray: #e1e2e8;
$title-font: 'Montserrat', sans-serif;
$logo-font: 'Permanent Marker', cursive;
$general-text: 'Hind', sans-serif;