@import '../mixins.scss';
@import '../variables.scss';

.thumbnail-main {
  @include column-center;
  width: 20em;
  margin: 20px;
  padding: 15px;
  background-color: $offwhite;
  border-radius: 5px;
  box-shadow: 1px 3px 12px black;
  text-decoration: none;
  text-align: center;
}

.thumbnail-main:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.4s;
}

.thumbnail-main:hover .thumbnail-title{
  color: $red;
}

.thumbnail-contents {
  @include column-center;
  width: 100%;
  margin-bottom: 5%;
  height: 80%;
}


.thumbnail-title {
  border-bottom: 0.1em $red solid;
  font-size: 1.75em;
  margin: 0.5em 0 .55em 0;
  color: $text-color;
  width: 75%;
  overflow: scroll;
}

.thumbnail-destination {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  color: $text-color;
  font-size: 1.25em;
}

.thumbnail-duration {
  margin-top: 5px;
  font-weight: 300;
  color: $text-color;
  font-size: 1em;
}

.delete-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.thumbnail-deleteBtn {
  @include delete-btn;
}
