@import '../mixins.scss';
@import '../variables.scss';

.thumbnail-main {
  @include column-center;
  width: 20em;
  max-height: 12em;
  margin: 30px;
  padding: 15px;
  background-color: $offwhite;
  border-radius: 5px;
  box-shadow: 1px 3px 12px black;
}

.thumbnail-main:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.4s;
}

.thumbnail-main:hover .thumbnail-title{
  color: $red;
}

.thumbnail-title {
  border-bottom: 0.1em $red solid;
  font-size: 1.75em;
  margin: 1em 0 .55em 0;
}

.thumbnail-destination {
  margin: 0;
  font-weight: 400;
}

.thumbnail-duration {
  margin-top: 5px;
  font-weight: 300;
}