@import '../mixins.scss';

.list-items {
  display: grid;
  grid-template-columns: repeat(2, 400px);
}

.packing-column-labels {
  display: flex;
}

.category-container {
  border: solid $text-color 0.1em;
  padding: 1.75em;
  margin: 0.5em 2em 0.5em 2em;
  background-color: $offwhite;
  box-shadow: 1px 3px 12px black;
  border-radius: 0.5em;
}

.cat-title {
  font-size: 1.25em;
  @include column-center;
  padding-bottom: 0.5em;
  color: $text-color;
  border-bottom: 0.2em $red solid;
  margin-top: 0;
}

.edit-category-container {
  display: flex;
  margin-left: 1em;
  margin-top: 0.5em;
}

.edit-category-btn {
  margin-left: 0.5em;
  color:$red;
  border: none;
  background-color: $offwhite;
  padding-top: 0.15em;
  &:hover {
    cursor: pointer;
  }
}

.arrow-container {
  @include column-center;
  margin-top: 0.5em;
}

.add-item-btn {
  margin-left: 0.5em;
  border: none;
  background-color: $offwhite;
  outline: none;
  padding-top: 0.15em;
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 900px) {
  .category-container {
    @include column-center;
    width: 80%;
  }

  .list-items {
    @include row-wrap-around;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .list-items {
    @include column-center;
    width: 100%;
    align-self: center;
  }
}