@import '../mixins.scss';

.list-items {
  display: grid;
  grid-template-columns: repeat(2, 400px);
}

.packing-column-labels {
  display: flex;
}

.category-container {
  border: solid $text-color 0.1em;
  padding: 1.5em;
  margin: 1em;
  background-color: $offwhite;
  box-shadow: 1px 3px 12px black;
  border-radius: 0.5em;
}

.cat-title {
  font-size: 1.5em;
  @include column-center;
  padding-bottom: 0.5em;
  color: $text-color;
  border-bottom: 0.2em $red solid;
  margin-top: 0;
}

.edit-category-container {
  display: flex;
  margin-left: 1em;
  margin-top: 0.5em;
}

.edit-category-btn {
  margin-left: 1em;
  border: none;
  background-color: $gray;
  outline: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.25);
    transition-duration: 0.4s;
  }
}

@media only screen and (max-width: 600px) {
  .category-container {
    @include column-center;
    width: 80%;
  }
  .list-items {
    @include column-center;
    width: 100%;
    align-self: center;

  }
}