@import '../mixins.scss';

.list-items {
  display: grid;
  grid-template-columns: repeat(2, 400px);
}

.packing-column-labels {
  display: flex;
}

.category-container {
  background-color: $offwhite;
  box-shadow: 1px 3px 12px black;
  border-radius: 0.5em;
  padding: 1em;
}

.cat-title {
  font-size: 1.5em;
  @include column-center;
  padding-bottom: 0.5em;
  color: $text-color;
  border-bottom: 0.2em $red solid;
}

.edit-category-container {
  display: flex;
  margin-left: 1em;
  margin-top: 0.5em;
}

.edit-category-btn {
  margin-left: 1em;
  border: none;
  background-color: $gray;
  outline: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.25);
    transition-duration: 0.4s;
	}
}